
/*
  ========================================
  Background Styling
  ========================================
*/
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: .8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url(image_path('store_front.jpg'));
  min-height: 100%;
}

.bgimg-2 {
	background-image: url(image_path('old_main_street.jpg'));
	min-height: 400px;
}

/*
  ========================================
  Hours Styling
  ========================================
*/
.demo-bg{
	margin: 100px;
	float: right;
}

.business-hours {
	background: #222; 
	padding: 40px 14px;
	margin-top: 0px;
	position: relative;
	width: 300px;
	border-radius: 8px;
}

.business-hours .title {
	font-size: 20px;
	color: #BBB;
	text-transform: uppercase;
	padding-left: 5px;
	border-left: 4px solid #ffac0c; 
}

.business-hours li {
	color: #888;
	line-height: 30px;
	border-bottom: 1px solid #333; 
}

.business-hours li:last-child {
	border-bottom: none; 
}

.business-hours .opening-hours li.today {
	color: #ffac0c; 
}

/*
  ========================================
  Menu Styling
  ========================================
*/

.menu{
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: center;
}

.gallergy {
    display: block; 
	width: 100%;
	margin: 0 auto;
}

.image-wrapper{
	display: inline-block;
	position: relative;
}

.image-wrapper:hover {
	filter: grayscale(100%);
}

.image-wrapper p {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:25px;
	color: #f7f7f7;	
}

.men-img{
	height: 300px;
	width: 300px;
	margin: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
  ========================================
  Transition Styling
  ========================================
*/

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}