<%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
<article class="content">
	<section id="above-fold">
		<%= image_tag("store_front.png", class: 'logo')%>
	</section>
</article>