<header>
	<section class="container group">
		<nav class="primary-nav">
			<a href="">Home</a>
			<a href="">Menu</a>
			<a href="">About Us</a>
			<a href="">Our Vendors</a>
			<a href="">Contact</a>
			<a href="">Catering</a>
			<a href="">Artist</a>
		</nav>
	</section>
</header>